# Vim
*.swp
*.swo

# Temporary files
*.tmp

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Ansible
*.retry
